Authtype Basic
AuthName "Outlet DB Admin Panel authentication"
AuthUserFile /app/admin/.htpasswd
Require valid-user

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /admin/index.php?path=$1 [NC,L,QSA]
